@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;600&display=swap");
/* 

font-family: 'Josefin Sans', sans-serif; 300 / 400 / 600

colors
- Desaturated Red: hsl(0, 36%, 70%)
- Soft Red: hsl(0, 93%, 68%)
- Dark Grayish Red: hsl(0, 6%, 24%)
- Linear, 135deg, from hsl(0, 0%, 100%), to hsl(0, 100%, 98%)
- Linear, 135deg, from hsl(0, 80%, 86%), to hsl(0, 74%, 74%)
*/

/* Resetting the page */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* Body style */
body {
  font-family: "Josefin Sans", sans-serif;
  background: -webkit-gradient(
      linear,
      left top,
      left bottom,
      from(hsl(0, 0%, 100%)),
      to(hsl(0, 100%, 98%))
    )
    fixed;
}

.main-container {
  margin: 0 auto;
}

/* Page layout and styles */
.brand-logo {
  margin: 40px 0;
  margin-left: 30px;
}
.hero-desktop {
  display: none;
}
.hero-mobile {
  width: 100%;
  height: auto;
  margin-bottom: 60px;
}
.header {
  font-size: 3.5rem;
  color: hsl(0, 6%, 24%);
  font-weight: 600;
  text-align: center;
  text-transform: uppercase;
}
.header--2 {
  color: hsl(0, 36%, 70%);
  font-weight: 300;
}
.text {
  font-weight: 400;
  font-size: 1rem;
  color: hsl(0, 36%, 70%);
  text-align: center;
  width: 85%;
  margin: 30px auto;
}

/* Button style */

.email {
  width: 80%;
  height: 50px;
  border-radius: 30px;
  padding-left: 15px;
  margin: auto 35px;
  border-color: rgba(128, 128, 128, 0.219);
  background-color: hsl(0, 100%, 98%);
}
.email::placeholder {
  color: hsl(0, 36%, 70%);
  letter-spacing: 1px;
}
.submit {
  background-color: hsl(0, 74%, 74%);
  height: 50px;
  width: 70px;
  border-radius: 30px;
  border: none;
  box-shadow: 5px 5px 30px 5px hsl(0, 80%, 86%);
  grid-row: 2;
  position: absolute;
  right: 7%;

  transform: translateX(-7%);
}
.submit:active {
  background-color: hsl(0, 80%, 86%);
}

.icon-error {
  position: absolute;
  right: 30%;
  margin-top: 15px;
  transform: translateX(-30%);
}
.error-msg {
  color: hsl(0, 93%, 68%);
  margin: 15px 45px;
}
.error {
  display: none;
}

@media screen and (min-width: 700px) {
  .icon-error {
    right: 20%;
  }
  .submit {
    right: 1%;
  }
}
@media screen and (min-width: 1200px) {
  body {
    width: 100%;
    min-height: 1080px;
    overflow: hidden;
  }
  .main-container {
    display: grid;
    grid-template-columns: 2fr 1fr;
    width: 100%;
    min-height: 1080px;
  }
  .hero-mobile {
    display: none;
  }
  .hero-desktop {
    display: block;
    grid-column: 2 / 3;
    height: 1080px;
    width: auto;
    margin: 0;
  }
  .sub-container {
    grid-column: 1 / 2;
    grid-row: 1;
    width: 100%;
    background: url("./images/bg-pattern-desktop.svg") no-repeat center/cover;
    padding: 0;
    padding-left: 200px;
    justify-content: start;
    justify-items: start;
    text-align: start;
  }
  .brand-logo {
    margin-top: 70px;
  }
  .header {
    text-align: start;
    margin-top: 120px;
    width: 50%;
    line-height: 1.2;
    letter-spacing: 20px;
    font-size: 4rem;
  }
  .text {
    margin: 0;
    margin-top: 30px;
    width: 60%;
    text-align: start;
    font-size: 1.2rem;
  }
  .email-container {
    display: grid;
    align-content: end;
    align-items: end;
    width: 60%;
  }
  .email {
    margin: 0;
    margin-top: 50px;
    width: 99%;
    padding-top: 5px;
    grid-row: 1;
    grid-column: 1 / 2;
  }
  .error-msg {
    margin: 0;
    margin-top: 20px;
  }

  .submit {
    position: static;
    grid-row: 1;
    grid-column: 1 / 2;
    justify-self: end;
    width: 80px;
  }
  .icon-error {
    position: static;
    grid-row: 1;
    padding-bottom: 15px;
    grid-column: 1 / 2;
    justify-self: end;
    padding-right: 75px;
  }
}
